.heads {
    color: rgb(231, 247, 252);
    text-align: center;
    border: 1px solid rgb(231, 247, 252);
    margin-bottom: 10px;
}
.stats {
    display: flex;
    justify-content: center;
}
.part {
    margin: 10px 15px;
    padding: 10px;
    border: 1px dashed rgb(231, 247, 252);
}